#bouton1 {
  width: 145px;
  height: 400px;
  background-color: yellow;
  border-radius: 10px;
}

#bouton2 {
  width: 145px;
  height: 400px;
  background-color: orange;
  border-radius: 10px;
}

#bouton3 {
  width: 145px;
  height: 400px;
  background-color: red;
  border-radius: 10px;
}

#bouton4 {
  width: 145px;
  height: 400px;
  background-color: LawnGreen;
  border-radius: 10px;
}

#bouton5 {
  width: 145px;
  height: 400px;
  background-color: OliveDrab;
  border-radius: 10px;
}

#bouton6 {
  width: 145px;
  height: 400px;
  background-color: SkyBlue;
  border-radius: 10px;
}

#bouton7 {
  width: 145px;
  height: 400px;
  background-color: Teal;
  border-radius: 10px;
}

#bouton8 {
  width: 145px;
  height: 400px;
  background-color: DarkSlateBlue;
  border-radius: 10px;
}

#bouton9 {
  width: 145px;
  height: 400px;
  background-color: Purple;
  border-radius: 10px;
}
